<body class="profileImag">
	<div class="container">
		<h1>Edit your profile</h1>

		<%= form_for @user do |f| %>
			<div>
				<%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
			</div>
			<div>
				<%= f.text_field :last_name, placeholder: "Last Name", class: "form-control"  %>
			</div>
			<div>
				<%= f.text_field :email, placeholder: "Email", class: "form-control"  %>
			</div>
			<div>
				<%= f.password_field :password, placeholder: "Password", class: "form-control"  %>
			</div>
			<div>
				<%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control"  %>
			</div>
			<div>
				<%= f.select :city_id, [['San Francisco', 1], ['London', 2], ['Gibraltar', 3]], class: "dropdown-menu"%>
			</div>
			<%= f.submit "Edit", class: "btn btn-primary" %>
		<% end %>
	</div>
</body>