<div class="container">
	<h1>Sign Up</h1>
	<%= form_for @user do |f| %>
		<%= f.text_field :first_name, placeholder: "First Name", required: true %><br>
		<%= f.text_field :last_name, placeholder: "Last_Name", required: true %><br>
		<%= f.email_field :email, placeholder: "Email", required: true %><br>
		<%= f.email_field :email_confirmation, placeholder: "Email Confirmation", required: true %><br>
		<%= f.password_field :password, placeholder: "Password", required: true %><br>
		<%= f.password_field :password_confirmation, placeholder: "Password Confirmation", required: true %><br>
		<%= f.submit "Sign Up" %><br>
	<% end %>
</div>
