<body class="profileImag">
<div class="container">
	<div class="text-center text-muted">
		<% if signed_in? %>
			<h1>Your Profile</h1>
		<% else %>
			<h1><%= @user.first_name %>'s Profile</h1>
		<% end %>
	<div>
		<div class="user-image img-responsive "><%= image_tag("vista.jpeg", :alt => "scenic vista", :class => "center-block") %></div>
		<% if signed_in? %>
			<div class="lead welcome-user">Welcome, <%= @user.first_name %>! </div>
		<% end %>
	</div>
</div>
	
	<div class="text-center text-muted">
		<% if signed_in? %>
			<h4>You signed up on <%= @user.created_at.to_formatted_s(:long_ordinal) %>.<br>
			Your home city is  <%= @city.name %>.</h4>
			<h4><%= link_to "Update Profile", edit_user_path%><br><br>
			<%= link_to "Add a post", root_path%></h4>
		<% else %>
			<h4><%= @user.first_name %> signed up on <%= @user.created_at.to_formatted_s(:long_ordinal) %>.<br>
				<%= @user.first_name %>'s home city is  <%= @city.name %>.</h4>
		<% end %>
	</div> 
	<hr class="small">
	<br>
	<div class="text text-muted">
		<% if signed_in? %>
			<h2> All of your posts (<%=@posts.length%>): </h2>
		<% else %>
			<h2> All of <%= @user.first_name %>'s' posts (<%=@posts.length%>): </h2>
		<% end %>
		<% @posts.each do |post| %>
			<h3> <%= link_to post.title, city_post_path(post.city_id, post.id) %> </h3>
		<% end %>
	</div>
	<br>
	<div class="text text-muted">
		<% if signed_in? %>
			<h2> All of your comments (<%= @comments.length %>): </h2>
		<% else %>
			<h2> All of <%= @user.first_name %>'s comments (<%= @comments.length %>): </h2>
		<% end %>
		<ol class="comment-ol">	
			<% @comments.each do |comment|%>
				<h4><li><%= comment.created_at.to_formatted_s(:long_ordinal) %><br>
				<% if signed_in? %>
					<strong>In post title <em>"<%= comment.post.title %>"</em>, you commented:</strong><br>
				<% else %>
					<strong>In post title <em>"<%= comment.post.title %>"</em>, <%= @user.first_name %> commented:</strong><br>
				<% end %>
				<%= comment.body%><br></h4>
				</li><br>
			<%end%>
		</ol>
	</div>
</div>
</body>
