
<body class="welcome">

<div class="full">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div >
                <h1 class="text-muted welcome-text">Vagabond</h1>
                <p class="text-muted text-uppercase">Get Away</p>
            </div>
            <div>
                <h3 class="text-muted"> <%= link_to "San Francisco", '/cities/1'%> <span class="small"><%= @sfPosts %> Posts </span></h3>
                <h3 class="text-muted"> <%= link_to "London", '/cities/2'%> <span class="small"> <%= @londonPosts %> Posts </span> </h3>
                <h3 class="text-muted"> <%= link_to "Gibraltar ", '/cities/3'%> <span class="small"> <%= @GPosts %> Posts </span> </h3>
            </div>
        </div> 
        <!-- /.row -->
    </div>
</div>
    
</body>
