<body class="postBackground">
	<div class="container">
		<h1 class="form-title">Edit Your Post for <%= @city.name %></h1>
		<p><%=form_for @post, url: city_post_path, method: :put do |p|%></p>
		<form>
			<div class="input-group">
				<%=p.text_field :title, placeholder: "Title", required: true, class: "form-control" %>
			</div> <br>
			<div class="input-group">
				<%=p.text_area :body, placeholder: "Body", required: true, class: "form-control", cols: 50, rows: 6 %>
			</div> <br>
			<%=p.hidden_field :city_id, value: @city.id %>
			<%=p.hidden_field :user_id, value: @current_user.id %>
			<%=p.submit "Edit Post", class: "btn btn-primary" %>
		</form>
		<%end%>
	</div>
</body>