<div class="container">
	<h1> <%= @post.title %> </h1>
	<h2>in <%= @city.name %> </h2>
	<h2>by <%= @user.first_name %></h2><br>
	<p><%= @post.body %></p>

	<!-- Do a quick check here to see if @user == @current_user -->

	<% if @current_user == @user %>
		<%= button_to "Edit Post", edit_city_post_path, method: :get %>
		<%= button_to "Delete Post", city_post_path, method: :delete, data: {confirm: "Are you sure?"} %>
	<%end%>
	<br>
	<% if signed_in? %>
		<%= form_for @comment, url: comments_path, method: :post do |f| %>
			<%= f.text_field :body, placeholder: "Comment", required: true %><br>
			<%= f.submit "Create Comment" %>
			<%= f.hidden_field :user_id, value: @current_user.id %>
			<%= f.hidden_field :post_id, value: @post.id %>
		<% end %>
		<br>
	<% end %>
	<% if @all_comments.length > 1 %>
		<h2>Comments (<%= @all_comments.length %>): </h2>
	<% elsif @all_comments.length == 1 %>
		<h2>Comment (<%= @all_comments.length %>): </h2>
	<% elsif @all_comments.length == 0 %>
		<h2>Be the First to Comment!</h2>
	<% end %>
	<ol>
		<% @all_comments.each do |single_comment| %>
			<% @comment_user = commentUser(single_comment) %>
			<li><%= single_comment.created_at.to_formatted_s(:long_ordinal) %><br>
				<strong>by <%= @comment_user.first_name %></strong><br>
				<%= single_comment.body %></li><br>
		<% end %>
	</ol>
</div>

