<div class="sanFran">
<h1>Welcome To, <%= @city.name %>! </h1>

<h3>Posts</h3>
<%= button_to "Create Post", new_city_post_path(@city.id), method: :get %>
	<% 10.times do |i| %>
		<h5> <%= image_tag("vista.jpeg", :alt => "scenic vista") %> <%= link_to @allPosts[i].title, city_post_path(@city.id, @allPosts[i].id) %> <br>
			<h4> Posted <%= time_ago_in_words(@rel_date) %> ago! </h4>
			<%= truncate(@allPosts[i].body, length: @length) %>
			<% if truncate?(@allPosts[i].body) %>
				<%= link_to "Read More", city_post_path(@city.id, @allPosts[i].id) %>
			<% end %>
			</h5>
			<br><br>
	<% end %>

</div>